*{
    margin:0;
    padding:0;
}
header{
    width:100%;
    height:100px;
    text-align:center;
    font-size: 300%;
    background-image:url(./images/head.png);
    background-size:100%;
    background-position: center;
   
    margin:auto;
    background-repeat: no-repeat;
}
body{
    background-image:url(./images/images.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    
}
.img{
    height: auto;
    width:97%;
    
    
  
}
subhead{
    text-align:center;
    font-size:150%;
    margin:50px;
    
}
#more{
    display:none;
}
#more1{
    display:none;
}
#more2{
    display:none;
}
button{
   
    color:orange;
    border:none;
    outline:none;
    font-size:18px;
    cursor:pointer;
}
.sidebar a{
    text-decoration: none;
    font-size:250%;
    padding: 8px 8px 8px 55px;
    color:rgba(241, 241, 241, 0.87);
    font-family: sans-serif ;
    display:block;
    cursor:pointer;
   
}
.sidebar a:hover{
    color:orangered;

}
.sidebar .closebutton{
    position:absolute;
    top:0px;
    right:25px;
    margin-left: 32px;
    font-size:56px;
    cursor:pointer;
    
}
.sidebar{
   position:fixed;
    top:0px;
    left:0px;
    width:300px;
    background-color:rgb(51, 51, 51);
    height:100%;
    z-index:1;
    padding-top: 150px;
    display:none;
   
}
#teendande{
    position:absolute;
   top:5px;
    margin-left:10px;

    font-size:30px;
    cursor:pointer;
}
footer{
    position:relative;
    bottom:4px;
    font-size:1rem;
    color:rgb(194, 189, 189);
    margin-top: 150px;
}

.swiper-container mySwiper{height: 350px;
    }
.swiper-wrapper{
    height: auto;
    width:97%;
}

.swiper-slide img{
    height: auto;
    width:97%;
}

@media screen and (max-width:600px){
header{
    width:100%;
    height:100px;
    padding-top: 50px;
    margin-top:15px;
    
}
img{
    margin-top:10px;
    margin-bottom:5px;
    margin-left:6px;
    
    

}
body p{

text-align:center;
font-size:135%;
font-style: normal;
}

h2{
margin-left:5px;
margin-top:20px;
margin-bottom:5px;
font-size:180%;
}
.box1{
   margin:auto;
    align-content: center;
    width:92%;
    border-radius: 5px;
    height:auto;
    background-color: rgba(78, 77, 77, 0.651);
}
.box2{
    margin:auto;
     align-content: center;
     width:92%;
     border-radius: 5px;
     height:auto;
     background-color: rgba(78, 77, 77, 0.651);
 }
 .box3{
    margin:auto;
     align-content: center;
     width:92%;
     border-radius: 5px;
     height:auto;
     background-color: rgba(78, 77, 77, 0.651);
     margin-bottom: 50px;;
 }
 button{
     background-color:rgb(51 50 50);
 }


}